data/PointGroupInst/
data/scannet/__pycache__/
data/scannet/scans
checkpoints/
data/glove.p
data/*.txt
data/*.json
outputs/
data/scannet/pointgroup_data
PointGroupInst/
data/contextual_data_train
data/contextual_data_val
.ipynb_checkpoints/*