data/PointGroupInst/
data/scannet/__pycache__/
data/scannet/scans
checkpoints/
data/glove.p
data/*.txt
data/*.json
outputs/
data/scannet/pointgroup_data
PointGroupInst/
data/contextual_data_train
data/contextual_data_val
.ipynb_checkpoints/*
wiki-news-300d-1M.vec
data/small_data
data/contextual_train
data/contextual_val
data/new_contextual_train
data/new_contextual_val
run/